.consult-container {
    position: relative;
    /* width: 100%; */
    height: 450px;
  }
  
  .consult-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/truckDrive.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .consult-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .consult-text h2 {
    font-size: 36px;
  }

  .consult-text h2::after {
    content: "";
    display: block;
    width: 30%;
    /* margin: 0 auto; */
    border-bottom: 4px solid #ffb901;
    /* padding-bottom: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .consult-text p {
    font-size: 16px;
  }

  .consult-text button {
    background-color: #ffb901;
    color: black;
    border: none;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 0px;
  }
  
  .consult-text button:hover {
    background-color: white;
  }
  
  /* // mobile view */


  /* @media (max-width: 768px) { */
    @media (max-width: 832px) {
    .consult-container {
      position: relative;
      /* width: 100%; */
      /* height: 450px;
      width: 100%; */
    }
    .consult-text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .consult-image {
      background-size: cover;
      background-position: center;
      background-attachment: none;
    }
  }
  