.company-logo {
  /* width: 170px;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 30px; */
  display: none;
}
.custom-logo {
  /* width: 400px;
  height: 90%; */
  width: 220px;
  object-fit: contain;
  /* position: absolute; */
  position: absolute;
  right: 20px;
}

.custom-logo:hover {
  cursor: pointer;
}

.custom-navbar {
  z-index: 1000;
  /* background-color: white; */
  background-color: #323232;
  position: sticky;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  /* height: 140px; */
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}


.custom-navbar .nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Arial", sans-serif; */
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-navbar .nav-link:hover {
  color: #ffb901;
}

.navbar-toggler {
  margin-right: 20px;
}

.nav-link {
  white-space: nowrap;
}


/* line animation during hover of navbar items */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  height: 3px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* @media (max-width: 786px) { */
  @media (max-width: 832px) {
  .custom-logo {
    display: none;
  }
  .company-logo {
    width: 170px;
    object-fit: contain;
    /* margin-right: 30px;
    margin-left: 10px; */
    display: block;
  }
  /* .company-logo {
    display: none
  } */

  .custom-navbar .nav-link  {
    margin-left: 10px;
  }
}

/* media query for nav link padding */

@media (max-width: 992px) {
  .nav-link {
    margin-left: 10px;
  }
}
