.company-logo {
  /* width: 170px;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 30px; */
  display: none;
}
.custom-logo {
  width: 400px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  right: 0;
  margin-right: -60px;
}

.custom-logo:hover {
  cursor: pointer;
}

.custom-navbar {
  /* z-index: 1000; */
  background-color: white;
  position: sticky;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-navbar .nav-link {
  color: black;
  font-size: 21px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Arial", sans-serif; */
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-navbar .nav-link:hover {
  color: #ffb901;
}

.navbar-toggler {
  margin-right: 20px;
}

.nav-link {
  white-space: nowrap;
}


.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

 /* line animation during hover of navbar items */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000; 
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@media (max-width: 992px) {
  .custom-logo {
    display: none;
  }
  .company-logo {
      width: 170px;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 30px;
  display: block;
  }
}

/* media query for nav link padding */

@media (max-width: 992px) {
  .nav-link {
    margin-left: 10px;
  }
}
