/* .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #323232;
  color: #ffb901;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto 0;
  margin-top: auto;
} */

/* .logo-container {
} */
/* 
.copyright-container {
 margin-top: 10px;
}

.social-media-container {
  display: flex;
}

.social-media-container a {
  margin-left: 10px;
} */


.footer {
  margin-top: auto;
  margin: 0;
  height: 60px;
  background-color: #323232;
  color: #ffb901;
  display: flex;
  justify-content: center;
  align-items: center;
}