.intro-container {
  /* color: #ffb901; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  margin-left: 40px;
  margin-right: 40px;
}

.statement {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vw;
  margin: 20px;
  margin-top: 100px;
}

.mission-statement {
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opening-statement h1.statement,
h2.mission-statement {
  text-shadow: 1px 1px 0 black, -2px 2px 0 black, 1px -1px 0 black,
    -2px -2px 0 black;
}
