html {
  scroll-behavior: smooth;
}

/* .app-container {
  overflow-x: hidden;
} */

.content-container {
  /* max-width: 100%; */
}

html,
body {
  /* overflow-x: hidden; */
  /* max-width: 100%; */
}
/* 
@media (max-width: 832px) {
  html,body {
    overflow-x: auto;
    overflow: auto;
  }
} */
